.main{
            display: flex;
        }
         .box1{
            width: 250px;
            height:250px;
          background-color:rgb(202, 198, 198);
             margin:10px;
             border-radius: 10px;
             padding:10px;
               
        }
        
        .button{
            background-color: green;
            width: 50px;
            height: 30px;
             border-radius: 10px;
             color: aliceblue;
         
        }